.bd-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-right: 1px solid rgba(0,0,0,.05);
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

/* input {
  margin: 0 15px;
} */

/* .form-control {
  width: 60%;
} */