<div class="row">
  <div class="col-md-8">
    <input type="text" class="form-control ds-input" id="search-input" placeholder="Search..." #query
      (keyup)="searchProductByTitle(query.value)">
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="searchProduct(query.value)"> Search </button>
  </div>
</div>
