<div *ngIf="selectedProduct" class="container m-5">
  <div class="row">
    <div class="alert alert-danger message" role="alert" *ngIf="errString">{{ errString }}</div>
      <div class="col-lg-6" style="float: left; padding-top: 30px;">
        <h3>{{title}}</h3>
      </div>
  </div>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <tbody>
              <th>Product Title  </th>
              <th>Available Quantity</th>
              <th>Available Description</th>
              <th>Product Price</th>
              <th>Quantity<span class="required">*</span></th>
              <th>Product Img</th>
              <th>Action</th>
              <tr>
                      <td>{{selectedProduct.productTitle}}</td>
                      <td>{{selectedProduct.productQuantity}}</td>
                      <td>{{selectedProduct.productDesc}}</td>
                      <td>{{selectedProduct.productPrice}}</td>
                      <td class="vert-aligned col-xs-2">
                        <input class="form-control" min="1" #orderQuantity type="number" id="orderQuantity" name="orderQuantity">
                      
                      <div class="text-danger my-2"
                        *ngIf="selectedProduct.productQuantity && !isQtyValid">
                        product quantity required
                      </div>

                      <div class="text-danger my-2"
                        *ngIf="selectedProduct.productQuantity && qtyRangeErr">
                        product quantity should be between 1 to <span>{{selectedProduct.productQuantity}}</span>
                      </div>
                      
                      </td>
                      <td><p><img [src]="selectedProduct.productImg" width="193" height="130"></p></td>
                      <td class="vert-aligned">
                        <button (click)="placeOrder(selectedProduct.productId,selectedProduct.productTitle,orderQuantity.value)" class='btn btn-primary btn-width'><i class="fa fa-futboll-0">Order Now</i></button> 
                      </td>
              </tr>
          </tbody>

      </table>

  </div>
</div>

</div>