<div class="container m-5">
    <div class="row">
        <div class="col-lg-6" style="float: left; padding-top: 30px;">
            <h3>{{title}}</h3>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th> <input type="text" [(ngModel)]="searchText" style="margin-left:20px ; width:300px;" />
                            <span style="margin: 5px"></span>
                            <button class="btn btn-info" style="color: aquamarine;" (click)="searchOrder(searchText)">Search
                                Order</button>
                            <span style="margin: 10px"></span>
                            <button class="btn btn-info" style="color:aquamarine;" (click)="getOrdersList()">Clear
                                Filter</button>

                        </th>
                        <td>
                            <strong> Orders placed by {{userId}}</strong>
                        </td>
                        <td> Total No. of Records : {{totCount}} </td>
                    </tr>
                </thead>
                <tbody *ngIf="!noRec">
                    <th>Order ID</th>
                    <th>Product ID</th>
                    <th>Quantity</th>

                    <tr *ngFor="let ord of orderMongolist; index as i;">
                        <td>{{ord.orderId}}</td>
                        <td> {{ord.productId}}</td>
                        <td> {{ord.quantity}}</td>
                    </tr>

                </tbody>
                <tbody *ngIf="noRec">
                    <tr *ngIf="noRec">
                        <td>
                            <div style="text-align: right"> No records found</div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>