<div style=" position: absolute; height: 600px; width: 1350px; margin-top: 0px;">
  <div class="alert alert-danger message" role="alert" *ngIf="errString">{{ errString }}</div>
      <div style=" margin-top: 100px; color: ivory; margin-left: 400px ; ">
       
        <h3 style=" color: black; margin-right: 100px">Enter your login Details </h3>
       
      
      <div class="col-md-4 col-md-offset-2">
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
      
          <label for="email">Email :</label>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter User Name">
      
            <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
              <div class="text-danger" *ngIf="loginForm.controls.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" formControlName="password" id="pwd" placeholder="Enter Password">
          <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
            <div class="text-danger" *ngIf="loginForm.controls.password.errors.required">Password is required</div>
          </div>
        </div>
      
        <button class="btn btn-success">Login</button> &nbsp; &nbsp;
          <button class="btn btn-danger" type="reset" onclick="show()">Cancel</button>
          
          <br/><br/>
          <div *ngIf="invalidLogin" class="error">
            <div class="text-danger">Invalid credentials.</div>
          </div>
      </form>
      
      </div>
      </div>
      </div>
