<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="container-fluid">
    <div class="col-sm-7">
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/addproduct" routerLinkActive="active">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/placeOrder" routerLinkActive="active">Place Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders" routerLinkActive="active"> My Orders</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="float-left">
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li *ngIf="!(isAuthenticated$ | async)" class="nav-item">
            <a routerLink="/register-user" class="text-white nav-link"  routerLinkActive="active">Register</a>
          </li>
          <li *ngIf="!(isAuthenticated$ | async)" class="nav-item">
            <a routerLink="/login-user" class="text-white nav-link"  routerLinkActive="active">Login</a>
          </li>
          <li *ngIf="(isAuthenticated$ | async)" class="nav-item">
            <a (click)="logout()" class="text-white nav-link pointer"  routerLinkActive="active">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- <div class="container">  
  <div class="row">
    <app-search-product (searchEventData)="getSearchEventData($event)"></app-search-product>    
  </div>  
</div> -->
<!-- <router-outlet></router-outlet> -->