
.bd-navbar {
  min-height: 4rem;
  /* background-color: #563d7c; */
  background-color: #3c5899;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
.bd-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1071;
}

.float-left {
  margin-left: auto!important;
}

.btn {  
  color: antiquewhite;
}

.btn:hover {
  color: white;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}
}
