.required {
  content: "*";
    color: red;
}

.message {
  margin: 10px 0px;
}

h4 {
  color: dimgray;
  text-decoration: underline;
  margin :5px;
}

.margin-top20 {
  margin-top: 20px;
}

.container {
  margin-top: 20px;
  background-color: lightgray;
  padding: 20px;
}