<div class="container">
  <h4>Add new product</h4>
  <div class="form-text">Add product details here...</div>
  <!-- <div class="alert alert-success message" role="alert" *ngIf="msgString">{{ msgString }}</div> -->
  <div class="alert alert-danger message" role="alert" *ngIf="errString">{{ errString }}</div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="margin-top20">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="productTitle"> Product Name <span class="required">*</span></label>
        <input class="form-control" id="productTitle" formControlName="productTitle" placeholder="Product name">
        <!-- </div> -->

        <!-- <p>Your choosen name: {{ myForm.get('productTitle').value }}</p> -->
        <div class="text-danger my-2"
          *ngIf="myForm.controls.productTitle?.touched && myForm.controls.productTitle?.errors?.required">
          product name required
        </div>
        <div class="text-danger my-2"
          *ngIf="myForm.controls.productTitle?.value && myForm.controls.productTitle?.errors?.minlength">
          product name should have min length 5
        </div>

        <div class="text-danger my-2"
          *ngIf="myForm.controls.productTitle?.value && myForm.controls.productTitle.errors?.maxlength">
          product name should have max length 20
        </div>
      </div>

      <div class="form-group  col-md-6">
        <label for="productQuantity"> Available Quantity <span class="required">*</span></label>
        <input type="number" class="form-control" min="1" id="productQuantity" formControlName="productQuantity"
          placeholder="product quantity...">
        <!-- </div> -->

        <div class="text-danger my-2"
          *ngIf="!myForm.controls.productQuantity?.value && myForm.controls.productQuantity?.touched">
          product quantity required
        </div>

        <div class="text-danger my-2"
          *ngIf="myForm.controls.productQuantity?.value && (myForm.controls.productQuantity?.errors?.min || myForm.controls.productQuantity?.errors?.max)">
          product quantity should be between 1 to 99
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="productDesc"> Product Description </label>
        <textarea class="form-control" id="productDesc" formControlName="productDesc"
          placeholder="product description..">
            </textarea>
      </div>

      <div class="form-group col-md-3">
        <label for="productPrice"> Product Price <span class="required">*</span></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="number" min="1" class="form-control" id="productPrice" formControlName="productPrice"
            placeholder="product price...">
        </div>
        <div class="text-danger my-2"
          *ngIf="myForm.controls.productPrice?.errors?.required && myForm.controls.productPrice?.touched">
          product price required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="productImg"> Product Image URL <span class="required">*</span></label>
      <input class="form-control" id="productImg" formControlName="productImg" placeholder="product image url...">
    </div>
    <div class="text-danger my-2"
      *ngIf="myForm.controls.productImg?.errors?.required && myForm.controls.productImg?.touched">
      product image url required
    </div>

    <div class="form-row">
      <button type="submit" class="btn btn-primary mr-4 my-3" [disabled]="myForm.invalid">
        Add Product
      </button>
      <button type="button" class="btn btn-primary btn-danger my-3" (click)="myForm.reset()">
        Reset
      </button>
    </div>
  </form>
</div>