<!-- <app-home></app-home> -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-header-nav></app-header-nav>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-3 margin10">
      <app-search-product (searchEventData)="getSearchEventData($event)"></app-search-product>
      <div *ngIf="searchData">
        <ul class="filter-select">
          <li *ngFor="let result of searchData">
            <a class="btn btn-bd-download" routerLink="/product/{{result.productId}}"
              routerLinkActive="active">{{result.productTitle}}</a>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="col margin10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
