<div class="container m-5">
    <div class="alert alert-danger message" role="alert" *ngIf="errString">{{ errString }}</div>
    <div class="alert alert-success message" role="alert" *ngIf="msgString">{{ msgString }}</div>
    <div class="row">
        <div class="col-lg-6" style="float: left; padding-top: 30px;">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <!-- <div *ngIf="products; else noRecords"> -->
            <table class="table table-striped table-bordered">
                <thead>
                    <!-- <th>Select Product</th> -->
                    <!-- <th>Product Id</th> -->
                    <th>Product Title </th>
                    <th>Available Quantity</th>
                    <th>Product Description</th>
                    <th>Product Price</th>
                    <th>Quantity<span class="required">*</span></th>
                    <th>Product Img</th>
                    <th>Action</th>
                </thead>
                <tbody *ngIf="!noRecords">
                    <tr *ngFor="let product of products; index as i;">
                        <!-- <td><input type="checkbox" [checked]='chkPlaceOrder'/></td> -->
                        <!-- <td>{{product.productId}}</td> -->
                        <td>{{product.productTitle}}</td>
                        <td>{{product.productQuantity}}</td>
                        <td>{{product.productDesc}}</td>
                        <td>{{product.productPrice}}</td>
                        <td class="vert-aligned">
                            <input class="form-control" min="1" type="number" #orderQuantity id="orderQuantity"
                                name="orderQuantity">

                            <div class="text-danger my-2"
                                *ngIf="product.productQuantity && curIndex == i && (orderQuantity.value == '' || orderQuantity.value == 0)">
                                product quantity required </div>

                            <div class="text-danger my-2"
                                *ngIf="product.productQuantity && curIndex == i && (orderQuantity.value > product.productQuantity || orderQuantity.value < 0)">
                                product quantity should be between 1 to <span>{{product.productQuantity}}</span>
                            </div>

                        </td>
                        <!-- <td> <img src="{{product.productImg}}" /></td> -->
                        <td>
                            <p><img src="{{product.productImg}}" width="193" height="130"></p>
                        </td>
                        <td class="vert-aligned">
                            <button (click)="placeOrder(product, orderQuantity.value, i)"
                                class='btn btn-primary btn-width'><i class="fa fa-futboll-0">Order Now</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="noRecords">
                    <tr *ngIf="noRecords">
                        <td colspan="7">
                            <div style="text-align: center"> No records found</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- </div> -->
        </div>
    </div>
    <!-- <ng-template #noRecords> No Data Found </ng-template> -->
    

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>