.table tbody > tr > td.vert-aligned {
    vertical-align: middle;
}

.myclass{
    display:inline-block;
    width: 80px;
    height: 40px;
}

.btn-width {
    width: 110px;
}

.required {
    content: "*";
      color: red;
  }