<div class="content-wrapper">

<!-- /.content-header -->
  <div class="card card-info" style="align-items: center;">
  <div class="card-body">
      <form [formGroup]="userForm">
          <div class="panel panel-default" style="width: auto;">
              <h2>Register User</h2>
              <div class="panel-body">
                <div class="form-group">
                  <label>User Name <span class="required">*</span></label>
                  <input type="text" class="form-control form-control-sm" name="uname"
                  [(ngModel)]="userFormObj.userName" formControlName="userName" placeholder="Enter User Name">
                  <div class="text-danger my-2"
                    *ngIf="userForm.controls.userName?.touched && userForm.controls.userName?.errors?.required">
                    User name required
                  </div>
                  <div class="text-danger my-2"
                    *ngIf="userForm.controls.userName?.value && userForm.controls.userName?.errors?.minlength">
                    User name should have min length 5
                  </div>
                </div>  


              <div class="form-group">
                <label>Password <span class="required">*</span></label>
                <input type="password" class="form-control form-control-sm" name="password"
                [(ngModel)]="userFormObj.password" formControlName="password" placeholder="Enter Password">
              <div class="text-danger my-2"
                *ngIf="userForm.controls.password?.touched && userForm.controls.password?.errors?.required">
                Password required
              </div>
              <div class="text-danger my-2"
                *ngIf="userForm.controls.password?.value && userForm.controls.password?.errors?.minlength">
                Password should have min length 6
              </div>
              <div class="text-danger my-2"
                *ngIf="userForm.controls.password?.value && userForm.controls.password.errors?.maxlength">
                Password should have max length 10
              </div>
            </div>  

              <div class="form-group">
                <label>address <span class="required">*</span></label>
                <input type="text" class="form-control form-control-sm" name="address"
                [(ngModel)]="userFormObj.address" formControlName="address" placeholder="Enter address">
                <div class="text-danger my-2"
                  *ngIf="userForm.controls.address?.errors?.required && userForm.controls.address?.touched">
                  Address required
                </div>
              </div>  



              <div class="form-group">
                <label>City <span class="required">*</span></label>
                <input type="text" class="form-control form-control-sm" name="city"
                [(ngModel)]="userFormObj.city" formControlName="city" placeholder="Enter City">
                <div class="text-danger my-2"
                  *ngIf="userForm.controls.city?.errors?.required && userForm.controls.city?.touched">
                  City required
                </div>
              </div>  

              <div class="form-group">
                <label>Category <span class="required">*</span></label>
                <select class="form-control form-control-sm" name="category"
                    [(ngModel)]="userFormObj.category" formControlName="category" placeholder="Select Category">
                      <option value="buyer">Buyer</option>      
                      <option value="seller">Seller</option>      
                  </select>
                  <div class="text-danger my-2"
                  *ngIf="userForm.controls.category?.errors?.required && userForm.controls.category?.touched">
                  Category required
                </div>
                </div>  

                </div><br>
                <div>
                  <button (click)="saveUser()" class="btn btn-success">Save</button>
              </div>
            
          </div>
  </form>

      
    </div>
    </div>
</div>