<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-12 margin10">
      <app-search-product (searchEventData)="getSearchEventData($event)"></app-search-product>
      <div *ngIf="searchData">
        <ul class="filter-select">
          <li *ngFor="let result of searchData">
            <a class="btn btn-bd-download" (click)="getSelectedProduct(result)">{{result.productTitle}}</a>
              <!-- routerLink="/product/{{result.productId}}" routerLinkActive="active" -->
          </li>
        </ul>
      </div>
    </div>    
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 margin10">
      <div class="alert alert-success message" role="alert" *ngIf="msgString">{{ msgString }}</div>
      <app-product-detail *ngIf="selectedProduct" [selectedProduct]="selectedProduct"></app-product-detail>
    </div>  
  </div>
</div>
<router-outlet></router-outlet>